jira/src/main/mule/jira.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ftps="http://www.mulesoft.org/schema/mule/ftps"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ftps http://www.mulesoft.org/schema/mule/ftps/current/mule-ftps.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="JIRA_HTTP_Config" doc:name="HTTP Listener config" doc:id="4d1f6d27-97a1-4b55-a7be-663db76971e5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<ftps:config name="FTPS_Config" doc:name="FTPS Config" doc:id="c44fb6f9-0762-49f4-832f-b5dda2baac4d" >
		<ftps:connection host="${sftp.host}" username="${sftp.User}" password="${sftp.password}">
			<tls:context >
				<tls:trust-store path="ftpkeys.jks" password="esgpass" type="jks" />
				<tls:key-store type="jks" path="ftpkeys.jks" keyPassword="esgpass" password="esgpass" />
			</tls:context>
			<ftps:ftps-mode >
				<ftps:ftps-explicit-mode protSetting="PRIVATE" />
			</ftps:ftps-mode>
		</ftps:connection>
	</ftps:config>
	<configuration-properties doc:name="Configuration properties" doc:id="85112045-663a-4d96-b861-d19bd84cd101" file="PROD.properties" />
	<flow name="jiraFlow" doc:id="f10a9a5d-cfe3-4ade-97f2-7aa367be5e95" >
		<http:listener doc:name="HTTP : JIRA" doc:id="c263972a-2bca-4d0d-b605-8bcc3b63fbf2" config-ref="JIRA_HTTP_Config" path="/jira"/>
		<ftps:list doc:name="List" doc:id="072d5d3a-0589-475e-89cb-de82e25790fc" config-ref="FTPS_Config" directoryPath="SFS Service Desk">
			<ftps:matcher filenamePattern="*.csv" />
		</ftps:list>
		<foreach doc:name="For Each" doc:id="dee77df7-9d04-4926-b87d-1517d284c134" collection="payload.*payload">
			<ee:transform doc:name="Transform Message" doc:id="2144e658-c8e2-4941-8f4b-2e5ed4396718" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
issueUpdates: vars.rootMessage.payload[vars.counter-1].payload map ((object, index)-> {
	
	fields: {
		project: {
			id: object.projectid
		},
		summary: object.summary,
		description: object.description,
		issuetype: {
			id: object.issuetype
		},
		assignee: {
			name: object.assignee
		},
		reporter: {
			name: object.reporter
		},
		components: [{
			id: object.component
		}]
	}
})]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="d8ea29f6-d56d-4af1-9cdd-d52cdba6f16a" message="if"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="101d9c33-5bd0-4808-909e-6fa722ed9ab3" message="#[payload]" />
	</flow>
</mule>
